<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<style>
body{font-family:Arial;background:#f4f4f4;padding:50px;}
form{width:350px;margin:auto;background:white;padding:30px;border-radius:10px;}
input{width:100%;padding:10px;margin:10px 0;}
button{width:100%;padding:10px;background:red;color:white;border:none;}
</style>
</head>
<body>

<form method="post" action="/login">
<h2>Airtel Login</h2>

<input type="text" name="username" placeholder="Registration Number1">
<input type="password" name="password" placeholder="Registration Number2">

<button type="submit">Login</button>

</form>

</body>
</html>